@import "{}/node_modules/angular-material/angular-material.scss";

// site styles
body {
  background: #fafafa;
  text-align: center;
  .container {
    max-width: 1140px;
    margin: auto;
    text-align: left;
  }
  header.banner {
    height: 385px;
    margin-top: -64px;
    padding-top: 64px;
    background-color: #2196f3;
    background-image: radial-gradient(ellipse farthest-side at top center, #64b5f6, #2196f3 100%);
    background-attachment: fixed;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    color: white;
    ng-md-icon {
      fill: white;
    }
    md-toolbar {
      text-shadow: 0 1px 0 rgba(0,0,0,.1);
      background-color: rgba(0, 0, 0, 0) !important;
      h2 {
        color: white;
        font-weight: bold;
      }
      a {
        color: white;
      }
      .md-toolbar-tools {
        & > a, & > login-buttons {
          padding-left: 30px;
        }
      }
    }
  }
  md-content.main {
    margin: 32px auto;
    md-list {
      md-list-item {
        &.private {
          background-color: #e5e5e5;
        }
        &.checked {
          p {
            text-decoration: line-through;
          }
        }
      }
    }
  }
  footer {
    border-top: 1px solid #e5e5e5;
    padding: 20px;
  }
}
